 * {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    right: 50%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}


#logo{
    float:left;
    width:80px;
    height:80px;"
    /* This is a single-line comment */
}
/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    margin-top: 25px;
}

/* Left and right column */
.column.side {
    width: 25%;
}

/* Middle column */
.column.middle {
    width: 75%;
    border: 1px solid black;
}

#imagescontainer {
    float:right;
    margin-bottom: 10px;
}
.container img{
    clear:right ;
    width: 180px;
    height: 180px;"
}
.clearfix {
    clear:right;
}
.container{
    border: 1px solid black ;
    margin-bottom: 2px;
}
.testoprincipal{
    color: black;
}
 #bottonessociales_encorpo img {
     float: right;
     width: 30px;
     height: 30px;
 }

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}
/* Style the footer */
.footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: white;
    margin-top: 25px;   
}

#bottonessociales img {
     float: left;
     width: 30px;
     height: 30px;
 }


#imagesindex {

    float:right;
    margin-bottom: 10px;
}
.imagesrow img{
   
    width: 33%;
    height: 180px;

}