* {
    box-sizing: border-box;
}


body{
    margin: 0;
    width: 974px;
    margin: auto;
    border-color: #333;
    font-family: verdana;   
}

#logo {
    float: right;
    width: 80px;
    height: 80px;
}
/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 25%;
}

#bottonessociales img {
    position: relative;
    top: 600px;
    width: 30px;
    height: 30px;
}

/* Middle column */
.column.middle {
    width: 100%;
    border: 1px solid black;
}

#imagescontainer {
    float:right;
    margin-bottom: 10px;
}
.container img{
    clear:right ;
    width: 180px;
    height: 180px;"
}
.clearfix {
    clear:right;
}
.container{
    border: 1px solid black ;
    margin-bottom: 2px;
}
.testoprincipal{
    color: black;
    font-family: "Georgia", Times, serif;
    margin-outside: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}
/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}
